#toggle-button {
	cursor: pointer;
}

.keywordFieldSet {
  border: solid 1px #ebebeb;
}

#keyword_type_label,
#keywordTypeTitle,
.hiddenLanguageSelect,
#updateKeywordApproved,
#updateKeywordProcessState,
#updateKeywordVisible,
#updateKeywordTypes,
#updateKeywordWordClass,
#updateKeywordNames,
#accordion1{
    display: none;
}

#keywordTitle {
    margin-top: 4px;
}

#keyword_types {
    margin-left: 20px;
    width: 200;
    height: 150;
    overflow: auto;
    padding: 4px;
}

#newTopicVisibility,
#updateKeywordTypes,
#updateKeywordNames,
#updateKeywordApproved,
#updateKeywordProcessState,
#updateTopicProcessState,
#updateTopicVisible,
#updateKeywordVisible {
    background-color: #EFEFEF;
    border: 2px solid #E5E5E5;
    padding: 10px;
    width: 600px;
    margin-top: 20px;
}

#siteFieldSet,
#psiFieldSet,
#updateSubjectNames,
#addSubjectNames{
    background-color: #EFEFEF;
    border: 2px solid #E5E5E5;
    padding: 10px;
    width: 600px;
    margin-top: 20px;
}

#add-button {
    float: right;
}

#updateKeywordTypes label,
#updateKeywordNames label,
#updateSubjectNames label,
#updateKeywordApproved label,
#updateKeywordProcessState label,
#updateKeywordVisible label{
    font-weight: bold;
}

#keywordTypeTitle,#addLanguageButton{
    margin-top: 20px;
}

#pager-back{
    float: left;
}

select:not([multiple]), input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    height: 30px !important;
}

#pager-forward,.input-append-removeSubjectTopics{
    float: right;
}

/* ONTOLOGY */
.hiddenTopics,#newTopicWrapper,#requiredWarning,#hierarchicalWrapper,#horizontalWrapper,.updateRoleSpan,.chosenTopicsHidden,.assocTypeWrapper, .hideSubmit  {
    display: none;
}

.existingTopicsHidden,.chosenTopicsRelationHidden,.chosenTopicsRelationRolesHidden,.chosenTopicsRelationOtherRolesHidden{
    visibility: hidden;
}


.updateRelationWrapper{
    background-color: #EFEFEF;
    border: 2px solid #E5E5E5;
    padding: 10px;
    clear: both;
    overflow: auto;
    height: auto;
}

.nameWrapper{
    float: left;
    padding: 10px;
    width: 49%;
}

.addNameWrapper{
    clear: both;
    float: left;
    padding: 10px;
    width: 49%;
}

.roleWrapper{
    float: right;
    padding: 10px;
    width: 49%;
}


#data-table-subjectTopics,#data-table{
    clear: both;
}

#relationWrapper,#relationWellWrapper{
    min-height: 500px;
}

#hierarchicalTypeWrapper{
    margin-top: 20px;
    margin-bottom: 20px;
}

#relationWellWrapper .well{
    width: 370px;
}

.nav > li > a.trash{
    display: inline;
    margin-left: 1px;
}

.nav > li > a.trash:hover{
    text-decoration: underline;
}

div.well > ul.nav.nav-list > li.associationElement > a.trash > i.icon-trash{
    text-decoration: none;
}

#updateTopicNames,
#updateTopicDescriptions,
#updateTopicApproved,
#updateTopicImages {
    background-color: #EFEFEF;
    border: 2px solid #E5E5E5;
    padding: 10px;
    width: 600px;
    margin-top: 20px;
}

#updateTopicDescriptions label,
#updateTopicNames label,
#updateSubjectNames label,
#updateTopicApproved label,
#updateTopicImages label{
    font-weight: bold;
}

/* END ONTOLOGY */
/** bootstrap addons **/

.panel-primary {
    border-color: #428BCA;
}
.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
* {
    box-sizing: border-box;
}

.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 2px 15px;
    background-color: #428BCA;
}

.panel-heading > .table, .panel-heading > .table th {
    border: 0 none;
    margin: 0;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 5px;
}

.cogspinner{
    z-index: 999;
    height: 120px;
    width: 120px;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image:url(../images/gears.gif);
    background-repeat:no-repeat;
}
