<!doctype html>
<html>
	<head>
	    <meta name="layout" content="main"/>
	    <title>NDLA Topics Admin Application - Curricula</title>
	</head>
	<body>
		<div class="navbar">
            <g:render template="/actionmenu"model="[param:3]" />
		</div>
	</body>
</html>